body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dfdede;
}
.titulos {
    font-size:180px;
    color: aqua;
    opacity: 25%;
}
.Create {
   font-size:50px;
   color: aquamarine;
   position:absolute;
   left:900px;
   top:400px;
}
.subtitulo {
    font-size: 50px;
    color:blue;
    position:absolute;
    opacity: 25%;
   left:295px;
   top:350px;
}
.subtitulo1 {
    font-size: 50px;
    color:blue;
    opacity: 50%;
    position:absolute;
   left:290px;
   top:350px;
}
.subtitulo2 {
    font-size: 50px;
    color:blue;
    opacity:100%;
    position:absolute;
   left:285px;
   top:350px;
}
.tituloPost {
    font-size:24px;
}
.Post {
    background-color: aquamarine;
    width: 100%;
    border-radius:40px;
    color:rgb(59, 176, 230);
    
}
.Boton {
    border-radius:10px;
    width:150px;
    height: 50px;
    display: flex;
  justify-content: flex-start;
}
.Head {
    background-color: #364552;
    height: 120px;
    width: 150%;
    box-shadow: 10px 10px 10px grey;
}
.imagen {
    width:100px;
}
.AlgunTitulo {
    position:absolute;
    top:-10px;
    left:200px;
    color:white;
}
